body {
  background-image: url(https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4ca0af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.location {
  margin-top: 20px;
  font-weight: bold;
}

.weather-container {
  margin-top: 20px;
  text-align: center;
}

.current-temperature {
  font-size: 24px;
  font-weight: bold;
}

.forecast-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.forecast-item {
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.day {
  font-weight: bold;
  margin-right: 4px;
}

.temperature {
  margin-right: 10px;
}

.precipitation {
  color: #3d3c3c;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
  }
}